
.activity .row div{padding-right:0 !important;padding-left:0 !important} 

.quickinfoSection .row .col-12{width:25% !important} 

.quickinfoSection .row .col-sm-6{width:25% !important} 

::marker{color:black !important} 

.col-lg-8{width:100%} 


.content-section .section .container-fluid .container{margin:0;max-width:-webkit-fill-available} 

.btnSeeMore{display: none}
/* .contentblock{break-inside:avoid}  */

/* .overviewContent{break-inside:avoid}  */

.day{break-inside:avoid} 

/* .daywiseSchedule{break-inside:avoid}  */

.activity{border:solid;border-width:thin !important; margin-top:20px !important;margin-bottom:30px !important;} 

img{
    break-inside:avoid
}

.styles_scroll-to-top__2A70v {display:none} 

#headerId { display: none} 

.collapseContent { max-height: 100% !important} 

.readmore{display:none} 

.engagementSection{display:none} 

.widget{display:none} 

.footer{display:none} 

.footer-subscribe{display:none} 

.grecaptcha-badge{display:none !important;} 

form{display:none}